@model IEnumerable<KidsClubApplication.Models.Gallery>

<p>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Create">Create New</a>
    }
    
</p>



<!-- Gallery Section -->
            <section class="gallery-section style-two">
                <div class="auto-container">
                    <div class="row">


                        <!-- Gallery Item -->
                        @foreach (var item in Model) {
                        <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeIn">
                            @if (User.IsInRole("Administrator"))
                              {
                               <a asp-action="Edit" asp-route-id="@item.ImageId">Edit</a> 
                               <a asp-action="Delete" asp-route-id="@item.ImageId">Delete</a>
                               <a asp-action="Details" asp-route-id="@item.ImageId">Details</a>
                              }  
                            <div class="image-box">                             
                                <figure class="image" height="250px"><img src="@Html.DisplayFor(modelItem => item.ImagePath)" style="height:235px"></figure>
                                <div class="overlay-box"><a href="@Html.DisplayFor(modelItem => item.ImagePath)" class="lightbox-image" data-fancybox='gallery'><span class="icon flaticon-add"></span></a></div>
                            </div>
                        </div>
                          
                        }



                    </div>
                </div>
            </section>



